{% extends "base.html.twig" %}

{% block body %}
  <div class="container">
    <div class="row justify-content-centerj'">
      <div class="col-8">
        {{ form_start(post_form) }}
        <fieldset class="mb-3">
          <legend class="mt-3">Nouveau Post</legend>
            {{ form_row(post_form.title) }}
            {{ form_row(post_form.content) }}
            {{ form_row(post_form.image) }}
            <input class="btn btn-primary mt-3 mx-auto" type="submit" value="Publier">
        </fieldset>
        {{ form_end(post_form) }}
      </div>
    </div>
  </div>
{% endblock %}